doctype 5
html(lang="es")
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer
      .row
        p Desarrollado por Edder Sánchez
    script(src="/javascripts/jquery-1.9.1.min.js")
    script(src="/javascripts/foundation.min.js")