extends layout

block content
  nav.row.barra-nav
      ul.barra-ul
        li
          a(href="/") Inicio
        li
          a(href="/nosotros/") Nosotros
        li
          a(href="/publicaciones/") Publicaciones
        li
          a(href="/galeria/") Galeria
        li
          a(href="/contactanos/") Contáctanos
        li
          a(href="/laboral/") Oportunidad Laboral
        li.right
          form(action="", method="get")